{{#each errors}}
    <div class="alert alert-danger">
        {{text}}
    </div>
{{else}}
{{/each}}
<div class="card card-body">
    <h3>New Member</h3>
    <form action="/boats" method="post">
        <div class="form-group">
            <label for="FirstName">First Name:</label>
            <input type="text" class="form-control" name="FirstName" value="" required>
        </div>
     
        <div class="form-group">
            <label for="LastName">Last Name:</label>
            <input  class="form-control" name="LastName" value="" required /> 
        </div>
        <div class="form-group">
            <label for="Street">Stree:</label>
            <input  class="form-control" name="Street" value="" required /> 
        </div>
        <div class="form-group">
            <label for="BoatCapacityInPeople">Boat Capacity (in people):</label>
            <input  class="form-control" name="BoatCapacityInPeople" value="" required /> 
        <div class="form-group">
            <label for="BoatPictureUrl">Boat Picture Url:</label>
            <input  class="form-control" name="BoatPictureUrl" value=""  /> 
        </div>
        <div class="form-group">
            <label for="RentedDate">Date Rented:</label>
            <input  class="form-control" name="RentedDate" value=""  /> 
        </div>                       
        <button class="btn btn-primary">Submit</button>
    </form>
</div>